.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.2s ease;
  z-index: 5;

  &.opened {
    visibility: visible;
    opacity: 1;
  }
}

.container {
  position: relative;
  margin-left: 19px;
  margin-right: 19px;
}

.closeButton {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  border: none;
  width: 32px;
  height: 32px;
  background: none;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.closeIcon {
  width: 32px;
  height: 32px;
  pointer-events: none;
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
