@import '../../scss/variables';

.navigation {
  background-color: $navigation-bg;
  align-self: stretch;
  padding: 10px;

  @media (max-width: 768px) {
    position: fixed;
    top: 127.38px;
    right: -100%;
    min-width: 150px;
    overflow: auto;
    transition: right 0.5s ease 0s;
    padding: 10px;
    border-radius: 8px 0 0 8px;

    &.isMenuOpen {
      right: 0;
    }
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 10px;
    }

    .listItem {
      @media (max-width: 768px) {
        border-bottom: 1px solid $font-light;
      }

      .link {
        text-decoration: none;
        color: $font-light;
        display: flex;
        column-gap: 2px;
        padding: 5px;
        &.active {
          text-decoration: underline;
        }

        .linkIcon {
          width: 16px;
          height: 16px;
        }

        .linkText {
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }
}