@import '../../scss/_variables';

.root {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  padding: 60px 30px 40px;
  align-self: center;

  @media (max-width: 768px) {
    padding: 30px 20px 30px;
  }
  @media (max-width: 450px) {
    padding: 20px 10px 20px;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  font-size: 22px;
}

.priceListLink {
  display: flex;
  color: $font-gray;
  align-items: center;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  & .priceListIcon {
    width: 40px;
    height: 40px;
  }
  & .priceListDescription {
    margin: 0;
    padding-left: 5px;
  }
}

.table {
  border-collapse: collapse;
  // border: 1px solid ;
}

.tableRow {
  &:hover td {
    background-color: $table-hover-bg;
  }
  
  & .tableHeader {
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    // border-bottom: 2px solid #6678b1;
    // background-color: $table-header-bg
    color: $font-dark;
  }

  & .tableHeaderSection {
    color: $font-dark;
    background-color: $table-header-bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  & td {
    color: $font-dark;
  }

  & .name {

  }

  & .unit {
    text-align: center;
  }

  & .price {
    text-align: end;
    padding-right: 20px;
  }
}

