//colors
$black-bg: #1d1d1d;
$gray-bg: #454545;
$main-bg: #eeeeee;
$promo-line-bg: #fde801;
$button-bg: #07d500;
$font-light: #fffecb;
$font-light-pale: #fffecbcb;
$font-dark: #151515;
$font-gray: #555454;

//font-sizes
$enlarged: 18px;

//font-families
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;
$logo-font-family: 'Fyodor', Arial, Helvetica, sans-serif;
$promo-font-family: 'Unineueheavy-italic', Arial, Helvetica, sans-serif;

//templetes
// %link-effects {
//   transition: opacity 0.3s;
//   &:hover {
//     opacity: 0.7;
//   }
//   &:active {
//     opacity: 0.4;
//   }
// }

// %height-full-screen {
//   min-height: calc(100vh - 75px - 152.44px);
//   @media (max-width: 768px) {
//     min-height: calc(100vh - 74px - 242.44px);
//   }
//   @media (max-width: 420px) {
//     min-height: calc(100vh - 74px - 301.06px);
//   }
// }

// @extend %link-effects;
