@import '../../scss/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.topContainer {
  position: relative;
  height: 150px;
  background-image: url(../../assets/images/about-us__black-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black-bg;
    opacity: 0.6;
  }
}

.textContainer {
  position: relative;
  z-index: 2;
  padding: 10px;
}

.title {
  position: relative;
  z-index: 2;
  margin: 0 0 10px;
  color: $font-light;
  font-size: 32px;
  text-align: center;

}

.focusContainer {
  background-color: $gray-bg;
  display: grid;
  grid-template-columns: 250px 1fr;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 20px 20px ;
}

.focusTitle {
  color: $font-light;
  margin: 0;
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: 20px;
}

.focusList {
  justify-self: end;
  padding: 0 10px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.focusListItem {
  color: $font-light;
  font-size: 14px;
}

.descriptionContainer {
  padding: 30px 10px;
}

.descriptionTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: $font-dark;
}

.descriptionText {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: $font-dark;
  line-height: 1.21;
}

.advantagesContainer {
  padding: 20px;
  background-color: $light-gray-bg;
  border-radius: 15px;
  margin-bottom: 30px;
}

.advantagesTitle {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: $font-dark;
}

.advantagesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.advantagesListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-bg;
  padding: 20px 30px 10px;
}

.advantagesIcon {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.advantagesText {
  margin: 0;
  text-align: center;
  font-size: 16px;
}